{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="content-block">
    <div class="content-pane single-pane">
        <h2>RAG Application: {% block title %}{{ content['app_name'] }}{% endblock %}</h2>
        <h3>Reading from Repo {{content['repo_name'] }}</h3>
        
    </div>
  </div>
  <div class="content-block">
    <div class="content-pane">
        <h2>Try a single query:</h2>
        <form id="completionForm" method="post" action="/v1/completions?include_contexts=1" >
        <div class="field-group">
            <label>Prompt (no history):</label>
            <textarea id="prompt" name="prompt"></textarea>
        </div>
        <div class="field-group">
            <label>Last response:</label>
            <textarea id="completion" name="completion" disabled=true>{{ content['completion'] }}</textarea>
        </div>
        <input type="submit" value="Answer query" />
        <h4>Retrieved texts for last query:</h4>
        <div id="queryContexts">
        </div>

        </form>
    </div> 
    <div class="content-pane">
        <h2>Try a chat</h2>
        <form id="chatForm" method="post" action="/v1/chat/completions?include_contexts=1" >
            <div id="chatMessages">
                <div class="field-group">
                    <label>system</label>
                    <textarea id="msg-0">You are a helpful assistant.</textarea>
                </div>
                <div class="field-group">
                    <label>user</label>
                    <textarea id="msg-1">....</textarea>
                </div>
            </div>
            <input type="submit" value="Respond to chat" />
            <h4>Retrieved texts for last query:</h4>
            <div id="chatContexts">
            </div>            

        </form>
    </div> 
  </div>
  <div class="content-block">
    <div>Application model info</div>
    <div class="content-pane">
        <h2>Knowledge-base (for retrieval)</h2>
        <div>
            <div class="field-group">
                <label>Embedding model:</label>
                <input type="text" id="_embed_model" name="_embed_model" value="{{ content['embed_model'] }}" disabled=true />
            </div>
            <div>
                <label>Files uploaded:</label>
                <ul>
                    {% for file in content['files'] %}
                        <li>{{ file }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="field-group">
                <label>Latest checkpoint:</label>
                <input type="text" id="_checkpoint" name="_checkpoint" value="{{ content['last_checkpoint'] }}" disabled=true />
            </div>
        </div>
    </div>
    <div class="content-pane">
        <h2>LLM (for generation)</h2>
        <div>
            <div class="field-group">
                <label>Model name:</label>
                <input type="text" id="_model_name" name="_model_name" value="{{ content['llm_model'] }}" disabled=true />
            </div>
            <div>
            <h4>Query prompts</h4>
                <div class="field-group">
                    <label>Question answering:</label>
                    <textarea id="text_qa_template" name="text_qa_template">{{ content['query_prompts']['text_qa_template'] }}</textarea>
                </div>  
                <div class="field-group">
                    <label>Use more context to refine:</label>
                    <textarea id="refine_template" name="refine_template">{{ content['query_prompts']['refine_template'] }}</textarea>
                </div>
            </div>
            <div >
                <h4>Chat prompts</h4>
                <div class="field-group">
                    <label>Complete next chat:</label>
                    <textarea id="context_prompt" name="context_prompt">{{ content['chat_prompts']['context_prompt'] }}</textarea>
                </div>  
                <div class="field-group">
                    <label>Build a question based on history & context</label>
                    <textarea id="condense_prompt" name="condense_prompt">{{ content['chat_prompts']['condense_prompt'] }}</textarea>
                </div>
            </div>
        </div>
    </div>
  </div>

  <script>
    const newOpenAIAPIRequest = () => { return { "model": "rag_model" };}
    function handleOpenAIAPISubmitEvent(formElement, event, respHandler) {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(formElement);
        const jsonData = newOpenAIAPIRequest();
        formData.forEach((value, key) => { jsonData[key] = value; });

        console.log('Submitting form data:', jsonData);
        fetch(formElement.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonData),
        })
        .then(response => response.json()) // Assuming the server responds with JSON
        .then(data => respHandler(data))
        .catch(error => console.error('Error:', error));
    }

    document.getElementById('completionForm').addEventListener('submit', function(event) {
        console.log('Form submitted');
    
        handleOpenAIAPISubmitEvent(this, event, data => {
            console.log('Received response:', data);
            // Assuming 'data' contains the response to be displayed in the 'completion' textarea
            const responseData = data.choices[0];
            document.getElementById('completion').value = responseData.text;
            
            // Update the query contexts
            const queryContexts = document.getElementById('queryContexts');
            queryContexts.innerHTML = '';
            responseData.contexts.forEach(context => {
                console.log('Context:', context);
                const newDiv = document.createElement('div');
                const scoreP = document.createElement('p');
                scoreP.textContent = `Score: ${context["score"]} -- File: ${context["filename"]}`;
                newDiv.appendChild(scoreP);
                const contextP = document.createElement('p');
                contextP.textContent = context["context"];
                newDiv.appendChild(contextP);
                queryContexts.appendChild(newDiv);
            });
        });
    });

    document.getElementById('chatForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
        console.log('Chat request submitted');

        const containerElement = document.getElementById('chatMessages');
    
        const messages = [];
        Array.from(containerElement.getElementsByTagName('div')).forEach(div => {
            const role = div.querySelector('label').textContent;
            const content = div.querySelector('textarea').value;
            messages.push({ role, content });
        });
        const jsonData = { ...newOpenAIAPIRequest(), messages };
        console.log('Submitting form data:', jsonData);
        fetch(this.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonData),
        })
        .then(response => response.json()) // Assuming the server responds with JSON
        .then(data => {
            console.log('Received response:', data);
            // We need to update the chat messages with the response
            // by adding a new div with the assistant response
            const newDiv = document.createElement('div');
            const newLabel = document.createElement('label');
            newLabel.textContent = 'assistant';
            const newTextarea = document.createElement('textarea');
            const responseData = data['choices'][0];
            newTextarea.value = responseData.message.content;

            newDiv.appendChild(newLabel);
            newDiv.appendChild(newTextarea);
            containerElement.appendChild(newDiv);

            // Don't forget to add a new div for the user to type in
            const userDiv = document.createElement('div');
            const userLabel = document.createElement('label');
            userLabel.textContent = 'user';
            const userTextarea = document.createElement('textarea');
            userTextarea.value = '';

            userDiv.appendChild(userLabel);
            userDiv.appendChild(userTextarea);
            containerElement.appendChild(userDiv);

            // Update the chat contexts
            const chatContexts = document.getElementById('chatContexts');
            chatContexts.innerHTML = '';
            responseData['contexts'].forEach(context => {
                console.log('Context:', context);
                const newDiv = document.createElement('div');
                const scoreP = document.createElement('p');
                scoreP.textContent = `Score: ${context["score"]} -- File: ${context["filename"]}`;
                newDiv.appendChild(scoreP);
                const contextP = document.createElement('p');
                contextP.textContent = context["context"];
                newDiv.appendChild(contextP);
                chatContexts.appendChild(newDiv);
            });
            
        })
        .catch(error => console.error('Error:', error));
    });

    </script>
{% endblock %}