{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Saved to Repo {{content['repo_name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="content-block">
    <div class="content-pane">
        <h2>Knowledge-base (for retrieval)</h2>
        <div>
            <div class="field-group">
                <label>Embedding model:</label>
                <input type="text" id="_embed_model" name="_embed_model" value="{{ content['embed_model'] }}" disabled=true />
            </div>
            <div>
                <label>Files uploaded:</label>
                <ul>
                    {% for file in content['files'] %}
                        <li>{{ file }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="field-group">
                <label>Latest checkpoint:</label>
                <input type="text" id="_checkpoint" name="_checkpoint" value="{{ content['last_checkpoint'] }}" disabled=true />
            </div>
            <div class="field-group">

                <label>Upload file:</label>
                <form action="{{ url_for('upload_file_view') }}" id="fileUploadForm" method="post" enctype="multipart/form-data">
                    <input type="file" id="file" name="file" />
                    <input type="submit" value="Upload" />
                </form>
            </div>
        </div>
    </div>
    <div class="content-pane">
        <h2>LLM (for generation)</h2>
        <div>
            <div class="field-group">
                <label>Model name:</label>
                <input type="text" id="_model_name" name="_model_name" value="{{ content['llm_model'] }}" disabled=true />
            </div>
            <form id="llmModelForm" method="post" action="{{ url_for('update_model') }}" >
                <div class="field-group">
                    <label>Change the model:</label>
                    <input type="text" id="model_name" name="model_name" placeholder="{{ content['llm_model'] }}"  />
                    <input type="submit" value="Change" />
                </div>
            </form>
            <form id="queryTemplateForm" method="post" action="{{ url_for('update_query_prompts') }}" >
                <h4>Query prompts</h4>
                <div class="field-group">
                    <label>Question answering:</label>
                    <textarea id="text_qa_template" name="text_qa_template">{{ content['query_prompts']['text_qa_template'] }}</textarea>
                </div>  
                <div class="field-group">
                    <label>Use more context to refine:</label>
                    <textarea id="refine_template" name="refine_template">{{ content['query_prompts']['refine_template'] }}</textarea>
                </div>
                <input type="submit" value="Update query prompts" />
            </form>
            <form id="chatTemplateForm" method="post" action="{{ url_for('update_chat_prompts') }}" >
                <h4>Chat prompts</h4>
                <div class="field-group">
                    <label>Complete next chat:</label>
                    <textarea id="context_prompt" name="context_prompt">{{ content['chat_prompts']['context_prompt'] }}</textarea>
                </div>  
                <div class="field-group">
                    <label>Build a question based on history & context</label>
                    <textarea id="condense_prompt" name="condense_prompt">{{ content['chat_prompts']['condense_prompt'] }}</textarea>
                </div>
                <input type="submit" value="Update chat prompts" />
            </form>
        </div>
    </div>
  </div>
  <div class="content-block">
    <div class="content-pane">
        <h2>Try a single query:</h2>
        <form id="completionForm" method="post" action="{{ url_for('try_completion_api') }}" >
        <div class="field-group">
            <label>Prompt (no history):</label>
            <textarea id="prompt" name="prompt"></textarea>
        </div>
        <div class="field-group">
            <label>Last response:</label>
            <textarea id="completion" name="completion" disabled=true>{{ content['completion'] }}</textarea>
        </div>
        <input type="submit" value="Answer query" />
        <h4>Retrieved texts for last query:</h4>
        <div id="queryContexts">
        </div>

        </form>
    </div> 
    <div class="content-pane">
        <h2>Try a chat</h2>
        <form id="chatForm" method="post" action="{{ url_for('try_chat_api') }}" >
            <div id="chatMessages">
                <div class="field-group">
                    <label>system</label>
                    <textarea id="msg-0">You are a helpful assistant.</textarea>
                </div>
                <div class="field-group">
                    <label>user</label>
                    <textarea id="msg-1">....</textarea>
                </div>
            </div>
            <input type="submit" value="Respond to chat" />
            <h4>Retrieved texts for last query:</h4>
            <div id="chatContexts">
            </div>            

        </form>
    </div> 
  </div>

  <script>
    function handleAjaxSubmitEvent(formElement, event, respHandler) {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(formElement);
        const jsonData = {};
        formData.forEach((value, key) => { jsonData[key] = value; });

        console.log('Submitting form data:', jsonData);
        fetch(formElement.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonData),
        })
        .then(response => response.json()) // Assuming the server responds with JSON
        .then(data => respHandler(data))
        .catch(error => console.error('Error:', error));
    }

    document.getElementById('completionForm').addEventListener('submit', function(event) {
        console.log('Form submitted');
    
        handleAjaxSubmitEvent(this, event, data => {
            console.log('Received response:', data);
            // Assuming 'data' contains the response to be displayed in the 'completion' textarea
            document.getElementById('completion').value = data.completion;
            // Update the query contexts
            const queryContexts = document.getElementById('queryContexts');
            queryContexts.innerHTML = '';
            data.contexts.forEach(context => {
                console.log('Context:', context);
                const newDiv = document.createElement('div');
                const scoreP = document.createElement('p');
                scoreP.textContent = `Score: ${context["score"]} -- File: ${context["filename"]}`;
                newDiv.appendChild(scoreP);
                const contextP = document.createElement('p');
                contextP.textContent = context["context"];
                newDiv.appendChild(contextP);
                queryContexts.appendChild(newDiv);
            });
        });
    });

    document.getElementById('chatForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
        console.log('Chat request submitted');

        const containerElement = document.getElementById('chatMessages');
    
        const messages = [];
        Array.from(containerElement.getElementsByTagName('div')).forEach(div => {
            const role = div.querySelector('label').textContent;
            const content = div.querySelector('textarea').value;
            messages.push({ role, content });
        });
        const jsonData = { messages };
        console.log('Submitting form data:', jsonData);
        fetch(this.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonData),
        })
        .then(response => response.json()) // Assuming the server responds with JSON
        .then(data => {
            console.log('Received response:', data);
            // We need to update the chat messages with the response
            // by adding a new div with the assistant response
            const newDiv = document.createElement('div');
            const newLabel = document.createElement('label');
            newLabel.textContent = 'assistant';
            const newTextarea = document.createElement('textarea');
            newTextarea.value = data['completion'];

            newDiv.appendChild(newLabel);
            newDiv.appendChild(newTextarea);
            containerElement.appendChild(newDiv);

            // Don't forget to add a new div for the user to type in
            const userDiv = document.createElement('div');
            const userLabel = document.createElement('label');
            userLabel.textContent = 'user';
            const userTextarea = document.createElement('textarea');
            userTextarea.value = '';

            userDiv.appendChild(userLabel);
            userDiv.appendChild(userTextarea);
            containerElement.appendChild(userDiv);

            // Now update the chat contexts
            const chatContexts = document.getElementById('chatContexts');
            chatContexts.innerHTML = '';
            data['contexts'].forEach(context => {
                console.log('Context:', context);
                const newDiv = document.createElement('div');
                const scoreP = document.createElement('p');
                scoreP.textContent = `Score: ${context["score"]} -- File: ${context["filename"]}`;
                newDiv.appendChild(scoreP);
                const contextP = document.createElement('p');
                contextP.textContent = context["context"];
                newDiv.appendChild(contextP);
                chatContexts.appendChild(newDiv);
            });
            
        })
        .catch(error => console.error('Error:', error));
    });

    document.getElementById('llmModelForm').addEventListener('submit', function(event) {
        console.log('Form submitted');
    
        handleAjaxSubmitEvent(this, event, data => {
            console.log('Received response:', data);
            // Just reload the page for now
            window.location.reload();
        });
    });

    document.getElementById('queryTemplateForm').addEventListener('submit', function(event) {
        console.log('Form submitted');
    
        handleAjaxSubmitEvent(this, event, data => {
            console.log('Received response:', data);
            // Just reload the page for now
            window.location.reload();
        });
    });

    document.getElementById('chatTemplateForm').addEventListener('submit', function(event) {
        console.log('Form submitted');
    
        handleAjaxSubmitEvent(this, event, data => {
            console.log('Received response:', data);
            // Just reload the page for now
            window.location.reload();
        });
    });

    </script>
{% endblock %}