@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: hsl(120, 51%, 10%);
    background-color: #F5F5F5;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

textarea {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

#logoBanner {
    width: 50vw;
}

a:hover {
    color: #747bff;
}

h1 {
    font-size: 2em;
    line-height: 1.1;
}

h3 {
    margin-top: 0;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


#root {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    /* background-color: rgb(107, 184, 184); */
    background-color: hsl(265, 24%, 93%);
    color: #2a0d32
}


@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}


.content-block {
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    border: 1px solid darkgray;
    background-color: hsl(120, 5%, 83%);
    box-shadow: 5px 5px 10px darkgray;
    /* color: rgb(30, 145, 145); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-pane {
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    border: 1px solid darkgray;
    background-color: hsl(120, 5%, 83%);
    box-shadow: 5px 5px 10px darkgray;
    /* color: rgb(30, 145, 145); */
    display: flex;
    flex-direction: column;
    width: calc(50% - 2em);
}

.single-pane {
    width: calc(100% - 2em);
}